extends ../layouts/common
block content 
    
    .container-sm
        .row
            .col
                | 
            .col-8.text-center 
                h2 BẢNG HỆ SỐ LƯƠNG
            .col
                | 