extends ../layouts/common
block content 
    
    .container-sm
        .row
            .col
                | 
            .col-8.text-center 
                h2 FORM THÊM NHÂN VIÊN
                span &nbsp 
                .row
                    .col-8 
                        .input-group.input-group-sm.mb-2
                            span#inputGroup-sizing-sm.input-group-text Mã nhân viên
                            input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')
                        .input-group.input-group-sm.mb-2
                            span#inputGroup-sizing-sm.input-group-text Họ và tên
                            input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')
                        .input-group.input-group-sm.mb-2
                            span#inputGroup-sizing-sm.input-group-text Nơi sinh
                            input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')
                        .input-group.input-group-sm.mb-2
                            span#inputGroup-sizing-sm.input-group-text Nguyên quán
                            input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')
                        .input-group.input-group-sm.mb-2
                            span#inputGroup-sizing-sm.input-group-text Hộ khẩu thường trú
                            input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')
                        .input-group.input-group-sm.mb-2
                            span#inputGroup-sizing-sm.input-group-text Hộ khẩu tạm trú
                            input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')
                    .col-4
                        img.rounded.mx-auto.d-block(src='/images/add_photo.jpg', alt='...')
                        span &nbsp 
                .input-group.input-group-sm.mb-3
                    span#inputGroup-sizing-sm.input-group-text Ngày sinh
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                    span#inputGroup-sizing-sm.input-group-text Giới tính
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                    span#inputGroup-sizing-sm.input-group-text Số thẻ Bảo hiểm xã hội
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                .input-group.input-group-sm.mb-3
                    span#inputGroup-sizing-sm.input-group-text Chứng vụ hiện tại
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                    span#inputGroup-sizing-sm.input-group-text Nơi công tác
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                .input-group.input-group-sm.mb-3
                    span#inputGroup-sizing-sm.input-group-text Số Căn cước công dân
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                    span#inputGroup-sizing-sm.input-group-text Ngày cấp
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                    span#inputGroup-sizing-sm.input-group-text Nơi cấp
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                .input-group.input-group-sm.mb-2
                    span#inputGroup-sizing-sm.input-group-text Quốc tịch
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')
                .input-group.input-group-sm.mb-2
                    span#inputGroup-sizing-sm.input-group-text Nhà ở tập thể
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                .input-group.input-group-sm.mb-3
                    span#inputGroup-sizing-sm.input-group-text Ngày vào Đoàn
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                    span#inputGroup-sizing-sm.input-group-text Ngày vào Đảng
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                .input-group.input-group-sm.mb-3
                    span#inputGroup-sizing-sm.input-group-text Trình độ học vấn
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')

                    span#inputGroup-sizing-sm.input-group-text Trình độ chuyên môn
                    input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-sm')
            .col
                | 